@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "Inter", sans-serif;
}

@theme {
    --color-mainGreen: #10B981;
    --font-lexend: "Lexend", sans-serif;
    --color-border: #E2E8F0;
}

@layer components {
    .activeGreen {
        @apply w-full py-3 rounded-2xl flex flex-col items-center gap-1 text-[#90A1B9];
        @apply hover:bg-mainGreen/10 hover:text-mainGreen;
    }

    .input {
        @apply bg-[#F8FAFC] px-12 py-3.5 border border-border rounded-xl
    }
}